<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedRestaurantApp"
        tools:targetApi="31">
        <activity
            android:name=".Views.ManageAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.EditPinsActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.AddressDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Views.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />

        <service
            android:name=".Services.NotificationManagerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".Views.ProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.ViewOrderActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.ItemDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!--  -->
            <!--  -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Views.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar" />
        <activity
            android:name=".Views.SplashActivity"
            android:exported="true"
            android:label="Red Restaurant App"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.RedRestaurantAppCustomAppBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>